<p>
    ng-for works!
</p>

<h3>Cursos Disponibles</h3>

<ul>
    <li *ngFor="let curso of cursos">
        <!-- Arma un h4 por cada elemento del array.  En una lista desordenada incluimos en el item la directiva ngFor para que
             itere el array cursos y cada iteración la almacene en la variable local-->
        <h4>{{curso}}</h4>
    </li>
</ul>



<table class="table table-bordered table-striped tabla">
    <thead>
        <tr class="filters">
            <th>id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Ciudad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido }}</td>
            <td>{{ alumno.ciudad }}</td>
        </tr>
    </tbody>
</table>