<p>
    Angular Test
</p>

<!-- <app-data-binding></app-data-binding>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding> -->
<!-- <app-boton-dinamico></app-boton-dinamico> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-template></app-ng-template> -->
<!-- <app-ng-template2></app-ng-template2> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-padre></app-padre> -->
<!-- <app-padre2></app-padre2> -->
<app-padre3></app-padre3>