<p>
    ng-switch works!
</p>

<div class="text-center">
    <!--el atributo ngSwitch es inicializado con el equipo -->
    <ul *ngFor="let jugador of jugadores" [ngSwitch]="jugador.equipo">

        <!--Si el equipo es L:A Lakers, aplica la clase lakers a la lista -->
        <li *ngSwitchCase="'L.A. Lakers'" class="lakers">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{jugador.equipo}} </h3>
        </li>

        <!--Si el equipo es Boston Celtics, aplica la clase celtics a la lista -->
        <li *ngSwitchCase="'Boston Celtics'" class="celtics">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{ jugador.equipo}} </h3>
        </li>

        <li *ngSwitchCase="'Chicago Bulls'" class="bulls">
            <h3>{{jugador.nombre}}</h3>
            <h3 class="equipo"> {{ jugador.equipo}} </h3>
        </li>

    </ul>
</div>

<hr>
<hr>

<!--EJEMPLO 2 -->
<div *ngFor="let per of persona" [ngSwitch]="per.id">
    <p *ngSwitchCase="1">Persona 1</p>
    <p *ngSwitchCase="'2'">Persona 2</p>
    <p *ngSwitchCase="'3'">Persona 3</p>
    <p *ngSwitchDefault>No es ningún estado conocido</p>
</div>

<hr>
<hr>

<!--EJEMPLO 3 -->
<div *ngFor="let state of estado" [ngSwitch]="state">
    <p *ngSwitchCase="1">El estado es 1</p>
    <p *ngSwitchCase="2">El estado es 2</p>
    <p *ngSwitchCase="3">El estado es 3</p>
    <p *ngSwitchDefault>No es ningún estado conocido</p>
</div>