<p>
    ng-template2 works!
</p>

<h3>¿Cuál es la capital de España?</h3>

<!-- inicializa variable capital del modelo  -->
<input type="text" class="form-control" [(ngModel)]="capital">

<!-- Si no se ingresa dato en input, se muestra el parrado, sino se llama a template #correcto -->
<p *ngIf="!capital; else correcto">Complete la pregunta</p>

<!-- si la metodo retorna true, muestra texto correcto; si retorna false, llama a template #incorrecto y muestra leyenda  -->
<ng-template #correcto>
    <h4 *ngIf="setResultado(); else incorrecto">¡Correcto!</h4>
</ng-template>

<!--  -->
<ng-template #incorrecto>
    <h4>Lo siento, inténtelo de nuevo</h4>
</ng-template>